<p><strong>Número de preguntas: </strong><%=stats.quizes%></p>
<p><strong>Número de comentarios totales: </strong><%=stats.comments%></p>
<p><strong>Número medio de comentarios por pregunta: </strong><%=stats.medium%></p>
<p><strong>Número de preguntas sin comentarios: </strong><%=stats.quizesWithoutComments%></p>
<p><strong>Número de preguntas con comentarios: </strong><%=stats.quizesWithComments%></p>
